.body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color:#fff7e4;
  box-sizing: border-box;
 

}
::-webkit-scrollbar {
  display: none;
}

.product-body {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  /* /* padding: 10px;  */
  margin-top: 10px;
  gap: 10px;
  width: 100%;
  position: absolute;
  left: 0;
} 

.category-view {
  display: flex;
  padding: 10px;

  gap: 20px;
}

/* Adjust the top position and width as needed */

.category-view a {
  margin-bottom: 5px;
  color: whitesmoke; /* Text color */
}

.category-view a:hover {
  text-decoration: underline;
}

/* Style for product view */
.product-view {
  /* Adjust according to category view width */
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  
  justify-content: flex-start;
}

.card {
  width: 100%;
  border: 1px solid #dee2e6;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #ffe18f;
  color: black;
}
.card:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: transform 0.5s;
  
}

.card-img-top {
  max-width: 100%;
  height: 150px;
  object-fit: cover;
  width: 100vw;
}

.card-title {
  font-size: 1.25rem;
  margin-bottom: 0.75rem;
}

.card-text {
  margin-bottom: 0.5rem;
}

.card-body {
  padding: 1rem;
  border-color: black;
}

.navbar {
  width: 100vw;
  background-color: #333;
  color: white;
  padding: 10px;
  box-sizing: border-box;
}
.tags {
  color:#266f26;
}
.cart-icon {
  filter: invert(65%) sepia(98%) saturate(4158%) hue-rotate(185deg)
    brightness(93%) contrast(94%);
}
.btn-category {
  background-color:#2a842a;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.btn-category:hover {
  background-color:#266f26;
  list-style: disc;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #6f6106;
}
/* .wrap{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column; */


 .wrap .container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
  /* width: 800px; */
  background-color: #6f6106;
  border-radius: 10px;
  margin-top: 10px;


}

.wrap  .container  form{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.wrap .container label{
  font-size: 20px;
  font-weight: 900;
  justify-content: center;
}

.wrap .container input{
  /* padding: 10px; */
  background-color: #6f6106;
  width: 100%;
  border: none;
  padding: 10px;
  font-size: 18px;
  border-bottom:1px solid #030303;
  outline: none;


}
.form-control{
  margin-bottom: 10px;
  
 
}

/* mainpage styles */



@media  (max-width: 768px) {

  .product-body {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .category-view {
    flex-direction: column;
    align-items: center;
  }
  .product-view {
    flex-direction: row;
  }
  
}