{% for product in products %}
<div class="product-view">
  <div class="card" style="width: 12rem;">
    {% if product.image %}
    <img src="{{ product.image.url }}" class="card-img-top" alt="...">
    {% else %}
    <p>No Image Available</p>
    {% endif %}
    <div class="card-body">
      <h5 class="card-title">{{ product.name }}</h5>
      <p class="card-text">{{ product.description }}</p>
      <p class="card-text">Kshs.{{ product.price }}</p>
      <a href="{% url 'add_to_cart' product.id %}" class="btn btn-primary" style="background-color: #1b601c; border-style: none;">Add to Cart</a>

    </div>
  </div>
</div>
{% endfor %}